* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.search-field-container {
  width: 35vw;
  height: 30%;
  position: relative;
}

.search-field-container input {
  width: 100%;
  height: 100%;
  padding: 12px 45px 12px 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

.search-field-container input::placeholder {
  color: #000;
  font-size: 17px;
  opacity: 1;
}

.search-field-container i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 20vh;
  flex-direction: row;
}

ul {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}
