* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.day {
  color: #96e8e6;
  font-size: 20px;
}

.day:first-child {
  margin-left: 10%;
}

.day:last-child {
  margin-right: 10%;
}

.day-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  flex-direction: row;
}
